<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/estilologin.css">
    <link rel="icon" href="home.png">
    <title>Home</title>
</head>

<body>
    <center>
        <div class="container">
            <img src="imagens/image 2.png" alt="Logo">
            <div class="container.login"></div>
            <div class="wrap.login"></div>
            <form>
                <span class="login.form.title">
                    Faça o login
                </span>

                <div class="wrap.input margin-top 35 margin-bottom-35">
                    <input class="form" type="email" name="email" autocomplete="off">
                    <span class="focus.input" data.placeholder="E-mail"></span>
                </div>

                <div class="wrap.input margin-bottom-35">
                    <input class="form" type="password" name="password">
                    <span class="focus.input" data.placeholder="Senha"></span>

                    <div class="container.login.bt">
                        <button class="login.bt">
                            Entar
                        </button>
                    </div>
                    <ul class="utilidades">
                        <li class="margin-top-8">
                            <span class="texto1">
                            </span>
                            <a href="https://www.youtube.com/">
                                Entar com telefone
                            </a>
                        </li>
                        <!--Colocar o link da pagina de recuperar senha-->
                        <li class="margin-top-8">
                            <span class="texto2">
                            </span>
                            <a href="https://www.youtube.com/">
                                Esqueceu sua senha?
                            </a>
                        </li>
                    </ul>
                </div>
            </form>
    </center>
    </div>
</body>

</html>