
<div class="container" id="container">

    <h1 class="title_name">Olá, {{nomeUsuario}}</h1>


    <div class="container_option">

        <div class="content_option">
            <img class="img_option" src="img/tesouraIcon.svg" alt="" srcset="">
            <h2 class="subtitle">Novo serviço realizado?</h2>
            <a href="/servicos" class="btn_option"><i class="uil uil-plus"></i>Cadastre</a>
        </div>

        <div class="content_option">
            <img src="img/userIcon.svg" alt="" srcset="">
            <h2 class="subtitle">Novo cliente?</h2>
            <a href="/clientes" class="btn_option"><i class="uil uil-plus"></i>Registre</a>
        </div>

        <div class="content_option">
            <img src="img/calendarIcon.svg" alt="" srcset="">
            <h2 class="subtitle">Novo atendimento?</h2>
            <a href="/atendimento" class="btn_option"><i class="uil uil-plus"></i>Venda</a>
        </div>

    </div>


</div>
<div class="container_menu" id="contentMenu">

    <div class="content_menu">

        <i class="uil uil-bars"></i>

    </div>

</div>

<div class="container_sidebar" id="contentSidebar">

    <div class="content_header">
        <img src="img/userPerfil.png" alt="">
        <h1 class="nameUser">{{nomeUsuario}}</h1>
    </div>

    <div class="content_sidebar">
        <nav>
            <ul>
                <li><i class="uil uil-estate iconMenu"></i><a href="/in/{{nomeUsuario}}">Home</a></li>
                <li><i class="uil uil-calender iconMenu"></i><a href="/atendimento">Atendimento</a></li>
                <li><i class="uil uil-dollar-alt iconMenu"></i><a href="#">Caixa</a></li>
                <li><i class="uil uil-money-bill iconMenu"></i><a href="/servicos">Formas de pagamento</a></li>
                <li><i class="uil uil-user iconMenu"></i><a href="/novocliente">Novo Cliente</a></li>
            </ul>
        </nav>
    </div>
</div>


