


<div class="container">
    <img class="logo_login" src="img/logo.png" alt="Logo">
    <div class="container_information">
        <h1>Seja bem-vindo(a)</h1>
        <p class="text">Informe seus dados para continuar</p>
    </div>

    <form class="form_login" action="">
        <div class="content_inputs">
            <i class="uil uil-user"></i>
            <input class="form" type="email" name="email" autocomplete="off" placeholder="Seu email">
        </div>

        <div class="content_inputs">
            <i class="uil uil-lock"></i>
            <input class="form" type="password" name="password" placeholder="Sua senha">
        </div>

        <div class="lost_passWord">
            <a href="#" class="link_text">Entrar com telefone</a>
            <a href="#" class="link_text">Esqueceu a senha ?</a>
        </div>

        <a href="/home" class="btn_option btn_login">Entrar</a>
        <p class="text">Não possui conta? <a href = "" class="link_registration">Cria a sua agora!</a></p>

    </form>

</div>