<div class="container">
    <h1>Novo Cliente</h1>

    <form action="/cadCliente" method="post">
    <!-- Input para NOME -->
        <div class="content_inputs">
          <label for="nome" class="form-label">Nome</label>
          <input type="text" class="form-control" id="nome" name="nomeCliente" placeholder="Informe o nome do cliente" required>
        </div>

        <!-- Input para CELULAR -->
        <div class="content_inputs input_client">
          <label for="valor" class="form-label">Celular</label>
          <input type="number" class="form-control" id="celular" name="celularCliente" placeholder="Informe o seu telefone" required>
        </div>

        <!-- Input para NASCIMENTO -->
        <div class="content_inputs">
          <label for="date" class="form-label">Nascimento</label>
          <input type="date" class="form-control" id="nascimento" name="nascimentoCliente" placeholder="Informe o seu aniversario" required>
        </div>

         <!-- Input para NASCIMENTO -->
        <div class="content_inputs">
          <label for="email" class="form-label">Email</label>
          <input type="email" class="form-control" id="email" name="emailCliente" placeholder="Informe o seu email" required>
        </div>

        <!-- Botão de Submit -->
        <div class="flex_column options_add_item">

          <a href="/clientes"><button type="button" class="btn_option">Cancelar</button></a>
          

          <button type="submit" class="btn_option">Salvar</button>
        </div>
      </div>
    </form>
  </div>