<div class="container">
    <h1>Novo Cliente</h1>

    <form action="/cadCliente" method="post">
    <!-- Input para NOME -->
        <div class="content_inputs">
          <label for="nome" class="form-label">Nome</label>
          <input type="text" class="form-control" id="nome" name="nome" placeholder="Informe o nome do cliente" required>
        </div>

    <!-- Input para EMAIL -->
        <div class="content_inputs">
          <label for="email" class="form-label">Email</label>
          <input type="email" class="form-control" id="email" name="email" placeholder="Informe o seu email" required>
        </div>

        <!-- Input para CELULAR -->
        <div class="content_inputs input_client">
          <label for="valor" class="form-label">Celular</label>
          <input type="number" class="form-control" id="telefone" name="telefone" placeholder="Informe o seu telefone" required>
        </div>

        <!-- Input para NASCIMENTO -->
        <div class="content_inputs">
          <label for="data_nasc" class="form-label">Nascimento</label>
          <input type="text" class="form-control" id="data_nasc" name="data_nasc" placeholder="XX/XX/XXXX" required>
        </div>

        

        <!-- Botão de Submit -->
        <div class="flex_column options_add_item">

          <a href="/clientes"><button type="button" class="btn_option">Cancelar</button></a>
          

          <button type="submit" class="btn_option">Salvar</button>
        </div>
      </div>
    </form>
  </div>