{{>_msg}}
<div class="container">
    <img class="logo_login" src="img/logo.png" alt="Logo">
    <div class="container_information">
        <h1>Seja bem-vindo(a)</h1>
        <p class="text">Organize seu time, customize sua agenda e ganhe tempo!</p>
    </div>

    <form class="form_login" action="/cadUsuario" method="post">
        <label for="nome" class="label-input">Seu nome</label>
        <div class="content_inputs">
            <i class="far fa-user"></i>
            <input class="form" type="text" name="nome" placeholder="Informe seu nome">
        </div>

        
        <label for="telefone" class="label-input">Seu telefone</label>
        <div class="content_inputs">
            <i class="fas fa-phone"></i>
            <input class="form" type="tel" name="telefone" placeholder="Informe seu telefone">
        </div>

        <label for="email" class="label-input">Email</label>
        <div class="content_inputs">
            <i class="fas fa-envelope"></i>
            <input class="form" type="email" name="email" placeholder="Informe seu email">
        </div>
        
        <label for="senha" class="label-input">Senha</label>
        <div class="content_inputs">
            <i class="fas fa-lock"></i>
            <input class="form" type="password" name="senha" placeholder="Informe sua senha">
        </div>

        


        <button type="submit" class=" btn btn_option btn_login">Cadastrar</button>
        <p class="text">Já possui conta? <a href = "/" class="link_registration">Volte para o login</a></p>

    </form>

</div>