<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fpag</title>
    
    
</head>

<body>
    
    <center><h1><b>FORMAS DE PAGAMENTO</b></h1></center>
    <br>
    
    <div class="Menu">
    <center><h3><b>SELECIONE UMA OPÇÃO:</b></h3></center>
    <center><a href="./Cartao.html"><img src="./Icons/tutorial-como-criar-um-icone-de-cartao-de-credito-no-illustrator-designe-561x561.png" alt="Cartao" width="160px"></a></center>
    <hr>
    <center><a href="./Dinheiro.html"><img src="./Icons/639365.png" alt="Dinheiro" width="150px"></a></center>
    <hr>
    <center><a href="./Pix.html"><img src="./Icons/logo-pix-icone-512.png" alt="Pix" width="150px"></a></center>
    <hr>
    <center><a href="./Apagar.html"><img src="./Icons/pngtree-loan-icon-in-trendy-style-isolated-background-png-image_1540409.jpg" alt="Apagar" width="150px"></a></center>

</div>

        

    
</body>
</html>