<div class="row border mb-5 d-flex flex">
    <div class="col-2 pr-4 border d-flex justify-content-center">
        <a href="">
            <i class="fas fa-long-arrow-alt-left fa-2x"></i>
        </a> 
    </div>
    <div class="col-10 pl-3 border">
        <h3>Serviços predefinidos</h3>
    </div>
</div>

<div class="input-group mb-3 row mb-5 border">
  <input type="text" class="form-control" placeholder="Digite aqui para buscar" aria-label="Recipient's username" aria-describedby="button-addon2">
  <div class="input-group-append">
    <button class="btn btn-outline-secondary" type="button" id="button-addon2"><i class="fas fa-search"></i></button>
  </div>
</div>

<div class="row">
    <p>Ordenado por valor<sup>*</sup></p>
</div>
{{#each servicos}}
    <div class="row border py-3 mb-5">
    <div class="col-6 d-flex justify-content-center">
        <h4>{{nome}}</h4>
    </div>

    <div class="col-5 d-flex justify-content-center">
        <h4>R$ {{valor}}</h4>
    </div>

    <div class="col-1">
        <i class="fas fa-caret-right fa-2x"></i>
    </div>
    
</div>
{{/each}}

<div class="row d-flex justify-content-center mb-5">
    <h6>{{numServicos}} registros no total</h6>
</div>

<div class="row border d-flex align-items-center mt-5">
    <a href="/index" class="col-4 border">
        <div class=" border d-flex flex-column align-items-center">
        <i class="fas fa-bars fa-2x border"></i>
        <h5 class="border">Menu</h5>
    </div>
    </a>
    

    <div class="col-4 border d-flex flex-column align-items-center">
        <i class="far fa-check-square fa-2x"></i>
        <h5 class="border">Selecionar</h5>
    </div>

    <a href="/novoServico" class="col-4 border">
        <div class=" border d-flex flex-column align-items-center">
        <i class="fas fa-plus fa-2x"></i>
        <h5 class="border">Novo</h5>
    </div>
    </a>
    
</div>


