.modalBtn {
    display: flex;
    flex-direction: row;
    justify-content: center;
 
}
 
.btn {
    margin: 1rem;
    width: 166px;
    height: 40px;
    border-radius: 6px;
    outline: none;
    color: #000;
    cursor: pointer;
}
 
.btn_Salvar {
    background: #FB9400;
    border: none;
    font-weight: 700;
    font-size: 15px;
}
 
.btn_Cancelar {
    filter: drop-shadow(4px 4px 30px rgba(0, 0, 0, 0.3));
    border: none;
    font-weight: 700;
    font-size: 15px;
}
 
.modalBody {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
   
    width: 340px;
    height: 488px;
   
    background: #FFFFFF;
    border-radius: 25px;
 
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
 
}
 
.modalBody h1 {
    font-weight: 700;
    font-size: 44px;
    font-weight: 700;
    color: #FB9400;
}
 
.bgBlack{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.5;
    background-color: #000;
    width: 100%;
    height: 100%;
    display: none;
}
 
.modalBody h3 {
    font-weight: 400;
    font-size: 16px;
}
 
.ativarModal{
 display: block;
}
