<!DOCTYPE html>
<html lang="ptbr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./Style.css">
    <title>Pagamento</title>
</head>
<body>
    <div class="Pagamento">
        <h2><b>Nova venda</b></h2>
        <form action="">
            <label for="vnd"><p><b> Cliente</b></p></label>
            <input type="text" id="vnd"><br><br>

            <label for="vnd"><p><b> Serviço</b></p></label>
            <select name="op" id="op">
                <option value="">  </option>
                <option value="">Cabelo</option>
                <option value="">Barba</option>
                <option value="">Sobrancelha</option>
                <option value="">Barba + cabelo</option>
                <option value="">Cabelo + sobrancelha</option>
                <option value="">Barba + sobrancelha</option>
                <option value="">Completo</option>
                </select><br><br>

                <label for="vl"><p><b>Valor</b></p></label>
                <input type="float" id="vl"><br><br>

                <label for="data"><p><b>Data</b></p></label>
                <input type="date" id="data" name="data"><br><br>

                <label for="png"><p><b> Formas de pagamento</b></p></label>
            <select name="op" id="op">
                <option value="">  </option>
                <option value="">Dinheiro</option>
                <option value="">Cartão</option>
                <option value="">Pix</option>
                </select><br><br>

                <label for="dsc"><p><b>Descrição</b></p></label>
                <input type="text" id="dsc"><br><br><br><br>

                <button id="Btnconfirm">
                    Confirmar
                </button>







        </form>


    </div>

    
        
            
        
 
    <div id="bgBlack" class="bgBlack"></div>
 
    <div id="modalBody" class="modalBody">
        <lottie-player src="https://assets5.lottiefiles.com/packages/lf20_dyy9le6w.json"  background="transparent"  speed="1"  style="width: 300px; height: 300px;"  loop autoplay></lottie-player>
        <div class="contentDetails">
            <h1>Sucesso</h1>
            <h3>Novo recebimento registrado!</h3>
        </div>
    </div>
 
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <script src="./index.js"></script>



</body>
</html>