@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@200;300;400;500;600;700;800&display=swap');
@import url('./Sidebar.css');
@import url('./serviços.css');


:root {
    --color-primary: #FB9400;
    --color-secundary: #000;
    --color-text: #8f9eb2;
    --box-shadow: (10px 0 30px 0 rgba(0, 0, 1, 0.11));
}

html,
body {
    padding: 0 !important;
    margin: 0 !important;
    box-sizing: border-box !important;
    font-family: 'Urbanist' !important;
    overflow-x: hidden !important;
}

button {
    outline: none !important;
    border: none !important;
}

ul{
    list-style: none;
}

a{
    text-decoration: none !important;
    
}

input{
    outline: none !important;
    border: none !important;
}




/*------------BASICS----------*/

.text{
    color: var(--color-text) ;
    font-size: .8rem;
    font-weight: 600;
}


.icon_big{
    font-size: 35px;
    color: #000;

}

.flex_row{
    display: flex;
    flex-direction: row;
}

.flex_column{
    display: flex;
    flex-direction: column;
}


.btn{
    background-color: transparent;
    color: #FB9400;
}


/*-------------MENU-------------*/


.container_menu {
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translate(180%, -50%);
    cursor: pointer;
}

.content_menu {
    display: flex;
    background-color: var(--color-primary);
    padding: 1em;
    width: 1em;
    height: 1em;
    border-radius: 100px;
    padding: 17px;
    text-align: center;
    align-items: center;
    font-size: 27px;
}




/*---------OPTIONS--------*/
.title_name {
    margin-left: 1em;
}


.img_option {
    width: 26%;
}


.container_option {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.content_option {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1em;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 7px;
    width: 279px;
    height: 170px;
    padding: 1em;
    margin-left: 3em;
    margin-right: 3em;
    margin-bottom: 2em;

}

.subtitle {
    font-size: 16px;
}

.btn_option {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    width: 155px;
    height: 36px;
    background-color: var(--color-primary);
    border-radius: 5px;
    font-size: 17px;
    font-weight: 700;
    color: #000;
}



.btn_option i {
    margin-right: .3em;
    font-size: 18px;
}

.container_sidebar{
    position: fixed;
    top: 0;
    height: 100%;
    background-color: #000;
    left: -100%;
    transition: .5s all ease-in-out;
}

.ativar_menu{
    left: 0;
}


.content_header{
    display: flex;
    flex-direction: column;

    align-items: center;
    color: #fff;
    font-size: 12px;

    margin-top: .8em;

    border-bottom: solid 2px #FB9400;
}

.iconMenu{
    font-size: 28px;
    color: #fff;
}

.content_sidebar ul{
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    height: 100%;
}

.container_sidebar ul li{
    display: flex;
    align-items: center;
    margin-top: 1.2em;
    margin-right: .8em;
}

.container_sidebar ul li a{
    margin-left: 15px;
    color: #fff;
    font-weight: 700;
}

.border {
    border: 2px solid black;
}