
.logo_login{
    margin-top: .8rem;
    width: 45%;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.container_information{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container_information h1{
    margin-top: 1rem;
    margin-bottom: 0;
}

.form_login{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: calc(100% - 1.5rem);
}

.content_inputs{
    margin: 1rem;
    border: 1px solid  #cad6e2;
    padding: .7rem;
    width: 74%;
}


.content_inputs input::placeholder{
    color: #cad6e2;
    font-size: 16px;
    font-weight: 600;
}



.content_inputs  i{
    color: #cad6e2;
    font-size: 20px
}

.lost_passWord{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    margin-top: .8rem;
    width: calc(100% - 5rem);
}

.lost_passWord a{
    color: var(--color-primary);
    font-size: 15px;
    font-weight: 700;
}

.btn_login{
    margin-top: 2rem;
    width: calc(100% - 5rem);
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 20px;
}

.link_registration{
    color: var(--color-primary);
    font-weight: 800;
}

.label-input {
    margin-top: 8px;
    display: flex;
    width: 80%;
    font-weight: bold;
}