<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./../static/css/home.css">

    <!--ICONSCOUT-->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <!--ICONSCOUT-->
    <title>App</title>
</head>

<body>
    <div class="container">

        <h1 class="title_name">Olá, Gustavo</h1>


        <div class="container_option">

            <div class="content_option">
                <img class="img_option" src="./../../../assets/img/tesouraIcon.svg" alt="" srcset="">
                <h2 class="subtitle">Nova serviço realizado?</h2>
                <button class="btn_option"><i class="uil uil-plus"></i><span>Cadastre</span></button>
            </div>

            <div class="content_option">
                <img src="./../../../assets/img/userIcon.svg" alt="" srcset="">
                <h2 class="subtitle">Novo cliente?</h2>
                <button class="btn_option"><i class="uil uil-plus"></i><span>Registre</span></button>
            </div>

            <div class="content_option">
                <img src="./../../../assets/img/calendarIcon.svg" alt="" srcset="">
                <h2 class="subtitle">Novo agendamento?</h2>
                <button class="btn_option"><i class="uil uil-plus"></i><span> Anotes</span></button>
            </div>

        </div>


    </div>
    <div class="container_menu" id="contentMenu">

        <div class="content_menu">

            <i class="uil uil-bars"></i>

        </div>

    </div>

    <div class="container_sidebar" id="contentSidebar">

        <div class="content_header">
            <img src="./../../../assets/img/userPerfil.png" alt="">
            <h1 class="nameUser">Gustavo</h1>
        </div>

        <div class="content_sidebar">
            <nav>
                <ul>
                    <li><i class="uil uil-estate iconMenu"></i><a href="#">Home</a></li>
                    <li><i class="uil uil-calender iconMenu"></i><a href="#">Agenda</a></li>
                    <li><i class="uil uil-dollar-alt iconMenu"></i><a href="#">Caixa</a></li>
                    <li><i class="uil uil-money-bill iconMenu"></i><a href="#">Formas de pagamento</a></li>
                    <li><i class="uil uil-user iconMenu"></i><a href="#">Novo Cliente</a></li>
                </ul>
            </nav>
        </div>

    </div>

    <script src="./../static/js/script.js"></script>
</body>

</html>